body {
    background-color:#f5f5f5;
    font-family: Helvetica;
}

#navigation {
    height: 2em;
    width: 20em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color:lightgray;
    border-radius: 10px;
    padding-top: 15px;
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.1); 
    box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.1);
}

a {
    text-align: center;
    margin-top: 1em;
    padding-left: 3em;
    color: black;
    text-decoration: none;
}

main{
    margin-top: 5em;
}

h2, p {
    text-align: center;
}